body{
    background-image: url(img/fondo.jpg);
    background-size: cover;
}

#cabecera{
    display:block;
    margin:auto;
    width: 100%;
    height: 350px;
}
#productos{
    text-align:center;
    border-width: 3px;
    border-radius: 60px;  
}

#reina-roja {
    align-content: center;
}
#Logo-reina{
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#Texto-reina{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: Verdana;
    color: white;
}

#chica {
    align-content: center;
}
#Logo-chica{
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#Texto-chica{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: Verdana;
    color: white;
}

#harry {
    align-content: center;
}
#Logo-harry{
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#Texto-harry{
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: Verdana;
    color: white;
}

#button{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

#carrito{
    width: 30px;
    height: 30px;
}

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
  }

#github{
    float: center;
	width: 30px;
	height: auto;
}

#barradeinicio{
    text-align:center;
    background-color: white;
}



