#cabecera {
    align-items: center;
    width:1000; 
    height: 300;
}

#thriller{
    width: 200;
    height: 200;
    left: 100;
}

#romantica{
    width: 200;
    height: 200;
}
#historica{
    width: 200;
    height: 200;
}